.about__title {
  margin: 0;
  margin-bottom: 21px;
  font-family: $ROBOTO;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $MAIN_FONT_COLOR;
}

@media (max-width: $desktop-width) {
  .about__title {
    font-size: 32px;
    line-height: 140.62%;
    margin-bottom: 27px;
  }
}

@media (max-width: $tablet-width) {
  .about__title {
    font-size: 28px;
    margin-bottom: 22px;
  }
}
