.about__wrapper {
  margin-bottom: 30px;
  overflow: hidden;
}

@media (max-width: $desktop-width) {
  .about__wrapper {
    margin-bottom: 20px;
  }
}

@media (max-width: $tablet-width) {
  .about__wrapper {
    background-image: none;
    padding-left: 1px;
    margin-bottom: 20px;
  }
}
