.about__description {
  margin: 0;
  margin-bottom: 21px;
  max-width: 988px;
  font-family: $PT_MONO;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $MAIN_FONT_COLOR;

  &:last-of-type {
    margin-bottom: 39px;
  }
}

@media (max-width: $desktop-width) {
  .about__description {
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */

    width: auto;
    max-height: 91px;
    margin-bottom: 20px;
  }
}

@media (max-width: $tablet-width) {
  .about__description {
    max-height: 174px;
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }
}
