.advantages-and-about-wrapper {
  background-color: $WHITE_COLOR;
  padding-top: 109px;
  padding-bottom: 71px;

  background-image: url("../img/bg-adventages-about.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: $desktop-width) {
  .advantages-and-about-wrapper {
    padding-top: 55px;
    padding-bottom: 54px;
  }
}

@media (max-width: $tablet-width) {
  .advantages-and-about-wrapper {
    padding-top: 37px;
    padding-bottom: 36px;
  }
}
