.advantages__list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 76px;
}

@media (max-width: $desktop-width) {
  .advantages__list {
    margin-bottom: 27px;
  }
}

@media (max-width: $tablet-width) {
  .advantages__list {
    flex-direction: column;
    margin-bottom: 36px;
  }
}
