.btn {
  display: inline-block;
  padding: 13px 26px;
  font-family: $ROBOTO;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease-out;
  cursor: pointer;

  &:active {
    opacity: 0.7;
  }

  &--request-a-call {
    padding: 13px 26px;
    font-size: 14px;
    line-height: 16px;
    margin-left: 35px;
    margin-right: 11px;
    color: $WHITE_COLOR;
    background-color: transparent;
    border: 1px solid $WHITE_COLOR;

    &:hover,
    &:focus {
      background-color: $WHITE_COLOR;
      color: $NAVY_COLOR;
    }
  }

  &--consultation {
    padding: 18px 45px;
    font-size: 16px;
    line-height: 19px;
    color: $WHITE_COLOR;
    background-color: $SKY_BLUE_COLOR;
    border: none;
  }

  &--detail {
    margin-bottom: 110px;
    font-size: 14px;
    line-height: 16px;
    color: $SKY_BLUE_COLOR;
    border: 1px solid $SKY_BLUE_COLOR;

    &:hover,
    &:focus {
      background-color: $SKY_BLUE_COLOR;
      color: $WHITE_COLOR;
    }
  }
}
