.copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
  overflow: hidden;
}

@media (max-width: $desktop-width) {
  .copyright {
    padding-top: 21px;
    padding-bottom: 24px;
  }
}

@media (max-width: $tablet-width) {
  .copyright {
    flex-direction: column;
    justify-content: center;
    padding-top: 28px;
    padding-bottom: 26px;
  }
}
