.feedback {
  background-color: $SKY_BLUE_COLOR;

  background-image: url("../img/bg-feedback@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1920px auto;

  @media (min-resolution: $retina-2x-dpi), (min-resolution: $retina-2x-dppx) {
    background-image: url("../img/bg-feedback@2x.png");
  }

  @media (min-resolution: $retina-3x-dpi), (min-resolution: $retina-3x-dppx) {
    background-image: url("../img/bg-feedback@3x.png");
  }
}

@media (max-width: $desktop-width) {
  .feedback {
    background-image: none;
  }
}
