.feedback__form {
  div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;

    p {
      width: 47.3%;
    }
  }

  input,
  textarea {
    padding: 13px 16px;
  }

  input {
    height: 52px;
  }

  textarea {
    margin-bottom: 37px;
    height: 154px;
  }

  div:last-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    p,
    button {
      width: 47.3%;
    }
  }

  button {
    padding: 12px;
    margin-right: 38px;
    flex-shrink: 0;
  }

  label {
    padding-left: 32px;
  }
}

@media (max-width: $desktop-width) {
  .feedback__form {
    div:first-of-type {
      margin-bottom: 43px;
    }

    textarea {
      margin-bottom: 37px;
      height: 160px;
    }

    button {
      width: 280px;
      padding: 15px;
      margin-right: 38px;
      flex-shrink: 0;
    }
  }
}

@media (max-width: $tablet-width) {
  .feedback__form {
    div:first-of-type {
      flex-direction: column;
      margin-bottom: 30px;

      p {
        width: 100%;
      }

      p:first-of-type {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }

    div:last-of-type {
      display: flex;
      flex-direction: column;

      button {
        width: 100%;
      }

      p {
        align-self: flex-start;
        width: 100%;
      }
    }

    textarea {
      height: 104px;
      margin-bottom: 24px;
    }

    button {
      width: 100%;
      padding: 15px;
      margin-right: 0;
      margin-bottom: 29px;
    }
  }
}
