.feedback__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 112px;

  .positioner {
    overflow: hidden;
    width: 48.7%;
    margin-left: auto;
  }
}

@media (max-width: $desktop-width) {
  .feedback__wrapper {
    padding-top: 79px;
    padding-bottom: 99px;

    .positioner {
      width: 100%;
      margin-left: 0;
      padding: 0 61px 0 68px;
    }
  }
}

@media (max-width: $tablet-width) {
  .feedback__wrapper {
    padding-top: 29px;
    padding-bottom: 40px;

    .positioner {
      width: 100%;
      margin-left: 0;
      padding: 0;
    }
  }
}
