.feedback {
  background-color: $SKY_BLUE_COLOR;

  background-image: url("../img/airplane-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: 196px 92px;
  background-size: 665px 490px;
}
