.footer__separator {
  margin: 0;
  color: $LIGHT_GRAY_COLOR; /* для IE */
  background-color: $LIGHT_GRAY_COLOR; /* для Firefox, Opera, Safari */
  border: none;
  height: 1px; /* высота 1px IE, Firefox, Opera, Safari */

  &--1 {
    display: none;
  }

  &--2 {
    display: none;
  }

  &--3 {
    display: none;
  }
}

@media (max-width: $desktop-width) {
  .footer__separator {
    &--1 {
      display: block;
    }
  }
}

@media (max-width: $tablet-width) {
  .footer__separator {
    &--3 {
      display: block;
    }
  }
}
