.footer__sd {
  display: flex;
  flex-direction: column;

  p {
    display: none;
  }
}

@media (max-width: $desktop-width) {
  .footer__sd {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p {
      display: block;
      margin: 0;
      font-family: $PT_MONO;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 25px;
      align-items: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $NAVY_COLOR;
      opacity: 0.5;
      margin-left: 2.3%;
    }
  }
}

@media (max-width: $tablet-width) {
  .footer__sd {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    p {
      margin-left: 0;
      margin-bottom: 32px;
    }
  }
}
