.footer__separator {
  margin: 0;
  color: $LIGHT_GRAY_COLOR; /* для IE */
  background-color: $LIGHT_GRAY_COLOR; /* для Firefox, Opera, Safari */
  border: none;
  height: 1px; /* высота 1px IE, Firefox, Opera, Safari */
}
