.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 64px;
  padding-bottom: 58px;
}

@media (max-width: $desktop-width) {
  .footer__wrapper {
    flex-direction: column;
    width: auto;
    padding-top: 19px;
    padding-bottom: 25px;
  }
}

@media (max-width: $tablet-width) {
  .footer__wrapper {
    padding-top: 46px;
    padding-bottom: 47px;
  }
}
