.header__feedback {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 85%;

  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    max-width: 300px;
    overflow: hidden;

    &:last-of-type {
      margin-left: 68px;
    }
  }
}

@media (max-width: $desktop-width) {
  .header__feedback {
    div {
      &:last-of-type {
        margin-left: 35px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .header__feedback {
    div {
      &:last-of-type {
        margin-left: 23px;
      }
    }
  }
}
