.header__wrapper {
  padding-top: 33px;
  padding-bottom: 278px;
  position: relative;
}

@media (max-width: $desktop-width) {
  .header__wrapper {
    padding-top: 20px;
    padding-bottom: 162px;
  }
}

@media (max-width: $tablet-width) {
  .header__wrapper {
    padding-top: 17px;
    padding-bottom: 70px;
  }
}
