.modal {
  position: fixed;
  z-index: 2;

  top: 136px;
  left: 50%;

  display: none;

  transform: translateX(-50%);

  padding: 29px 39px 37px;
  width: 490px;
  background-color: $SKY_BLUE_COLOR;
}
