.nav__title {
  margin: 0;
  margin-bottom: 29px;
  font-family: $ROBOTO;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $NAVY_COLOR;
}
