.page-footer__wrapper {
  @include container;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 65px;
  padding-bottom: 55px;
  padding-left: 27px;
}
