.page-header__description {
  position: relative;
  margin: 0;
  margin-bottom: 43px;
  font-family: $PT_MONO;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $WHITE_COLOR;

  &::before {
    content: "";

    display: block;
    width: 66px;
    height: 2px;

    position: absolute;
    top: 16px;
    left: -94px;

    background: $WHITE_COLOR;

    margin-right: 28px;
  }
}
