.page-wrapper {
  background-color: $WHITE_COLOR;
  background-image: url("../img/bg-adventages-about.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-top: 112px;
}
