.page-header__description {
  margin: 0;
  margin-bottom: 37px;
  font-family: "PT Mono", "Georgia", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $WHITE_COLOR;
}
