.scrollDown {
  position: absolute;
  left: -47px;
  right: 0;

  font-family: $PT_MONO;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $WHITE_COLOR;
  opacity: 0.5;
  transform: rotate(-90deg);

  bottom: 129px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-animation: fade 2s infinite;
  animation: fade 2s infinite;
}

@media (max-width: $desktop-width) {
  scrollDown {
    display: none;
  }
}
