.services__title {
  margin: 0;
  margin-bottom: 53px;
  font-family: $ROBOTO;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $WHITE_COLOR;
}

@media (max-width: $desktop-width) {
  .services__title {
    max-width: 85%;
    font-size: 32px;
    line-height: 140.62%;
  }
}

@media (max-width: $tablet-width) {
  .services__title {
    font-size: 28px;
    max-width: 100%;
    padding-left: 10px;
    margin-bottom: 43px;
  }
}
