.services__link {
  position: relative;
  display: block;

  img {
    opacity: 0.5;
    transition: opacity 1s ease-out;
  }

  h3 {
    display: block;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 43px;
    width: 173px;
    font-family: $ROBOTO;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: $WHITE_COLOR;
    margin: 0;
  }

  &:hover,
  &:focus {
    outline: 3px solid $SKY_BLUE_COLOR;
  }

  &:hover img,
  &:focus img {
    opacity: 1;
  }
}

@media (max-width: $desktop-width) {
  .services__link {
    h3 {
      top: 39px;
      left: 46px;
    }
  }
}

@media (max-width: $tablet-width) {
  .services__link {
    h3 {
      top: 20px;
      left: 35px;
    }
  }
}
