.services__item {
  position: relative;
  width: 31.5%;
  height: auto;
  margin-right: 2.75%;
  margin-bottom: 2.75%;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: $desktop-width) {
  .services__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: $tablet-width) {
  .services__item {
    margin-bottom: 24px;
  }
}
