.services__list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: $desktop-width) {
  .services__list {
    flex-direction: column;
  }
}
